# Note instructions at the bottom of the file take priority over
# instructions at the top of the file.
*

.venv
dev_files


!.gitignore
!template_maker.ps1
!template_maker.sh
!README.md

!my_project/
!my_project/**

# Re-ignore generated parquet outputs 
my_project/stats/**/*.parquet


